/* --- DRAWER --- */
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 23, 42, 0.4);
    backdrop-filter: blur(2px);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    display: flex;
    justify-content: flex-end;
}

.drawer-overlay.show {
    visibility: visible;
    opacity: 1;
}

.drawer {
    width: 500px;
    background: white;
    height: 100%;
    box-shadow: var(--shadow-drawer);
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    flex-direction: column;
}

.drawer-overlay.show .drawer {
    transform: translateX(0);
}

.drawer-header {
    padding: 24px;
    border-bottom: 1px solid var(--slate-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-content {
    flex: 1;
    overflow-y: auto;
    /* padding: 24px; */
}

/* Tabs inside Drawer */
.tabs {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--slate-200);
}

.tab {
    padding-bottom: 12px;
    font-size: 13px;
    font-weight: 500;
    color: var(--slate-500);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: var(--transition);
}

.tab.active {
    color: var(--orange);
    border-bottom-color: var(--orange);
    font-weight: 600;
}
